<!DOCTYPE html>
<html>
<head>
  <title>Biovision courses</title>
  <%= stylesheet_link_tag    "biovision/courses/application", media: "all" %>
  <%= javascript_include_tag "biovision/courses/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
