<% content_for :meta_title, t('.title', page: current_page) %>

<article>
  <h1><%= t('.heading') %></h1>

  <%= paginate @collection %>
  <ul>
    <% @collection.each do |entity| %>
      <li><%= course_link(entity) %></li>
    <% end %>
  </ul>
  <%= paginate @collection %>
</article>
